{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                    <ul>
                        <li>
                            <a href = "{% url 'create_receipt' %}">Create Receipt</a>
                        </li>
                        <li>
                            <a href = "{% url 'create_account' %}">Create Account</a>
                        </li>
                        <li>
                            <a href = "{% url 'create_category' %}">Create category</a>
                        </li>
                        <li>
                            <a href = "{% url 'category_list' %}">category list</a>
                        </li>
                        <li>
                            <a href = "{% url 'accounts_list' %}">account list</a>
                        </li>
                        <li>
                            <a href = "{% url 'logout' %}">logout</a>
                        </li>
                    </ul>
                {% else %}
                    <a href = "{% url 'signup' %}">Sign up</a>
                {% endif %}
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>



