{% extends 'base.html' %}

{% block title %}
    account list
{% endblock title %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account_info in account_list.all %}
                <tr>
                    <td>{{ account_info.name }}</td>
                    <td>{{ account_info.number }}</td>
                    <td>
                        {{ account_info.receipts.all|length }}
                    </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock content %}
