{% extends 'base.html' %}

{% block title %}
    category list
{% endblock title %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category_info in category_list.all %}
                <tr>
                    <td>{{ category_info.name }}</td>
                    <td>{{ category_info.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
